In [1]:
import pandas as pd
import numpy as np

In [2]:
delhi=pd.read_csv("../Datasets/Delhi_v2.csv")
delhi.head()

,Unnamed: 0,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,Landmarks,type_of_building,desc,Price_sqft
0,0,5600000.0,"Noida Extension, Noida, Delhi NCR",1350.0,28.608850,77.460560,3.0,3.0,NaN,Under Construction,New Property,NaN,NaN,2.0,NaN,Flat,\n\n\n Welcome ...,4148.148148
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,28.374236,76.952416,3.0,3.0,NaN,Ready to Move,New Property,NaN,Semi-Furnished,2.0,NaN,Flat,\n\n\n Mapsko M...,5906.040268
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,28.645769,77.385110,4.0,5.0,NaN,Ready to Move,New Property,1.0,Unfurnished,NaN,NaN,Flat,\n\n\n This pro...,6918.238994
3,3,3810000.0,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050.0,28.566914,77.436434,2.0,2.0,3.0,NaN,New Property,1.0,Unfurnished,2.0,near Gaur Mulberry Mansion,Flat,\n\n\n AIG Roya...,3628.571429
4,4,6200000.0,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350.0,28.520732,77.356491,2.0,2.0,3.0,Ready to Move,Resale,1.0,NaN,3.0,NaN,Flat,\n\n\n The prop...,4592.592593

In [3]:
delhi.drop(columns='Unnamed: 0',inplace=True)
delhi.describe()

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,parking,Lift,Price_sqft
count,7.738000e+03,7738.000000,7738.000000,7738.000000,7738.000000,7738.000000,5166.000000,2612.000000,1733.000000,7738.000000
mean,8.320635e+06,1409.506591,28.552092,77.273476,2.708193,2.501163,2.426442,7.673047,1.829198,5543.660241
std,7.223197e+06,718.929581,0.107420,0.180606,0.877026,0.867050,1.083677,60.417508,1.192607,2408.659307
min,1.700000e+06,501.000000,28.240023,76.884101,2.000000,2.000000,1.000000,1.000000,0.000000,2100.000000
25%,4.200000e+06,990.000000,28.455539,77.078590,2.000000,2.000000,2.000000,1.000000,1.000000,3950.986915
50%,6.000000e+06,1250.000000,28.574637,77.345320,3.000000,2.000000,2.000000,1.000000,2.000000,4972.674332
75%,9.500000e+06,1650.000000,28.642520,77.421054,3.000000,3.000000,3.000000,2.000000,2.000000,6350.638693
max,8.500000e+07,9500.000000,28.799748,77.688028,10.000000,10.000000,10.000000,1406.000000,10.000000,44378.698225

In [4]:
delhi.dtypes

price               float64
Address              object
area                float64
latitude            float64
longitude           float64
Bedrooms            float64
Bathrooms           float64
Balcony             float64
Status               object
neworold             object
parking             float64
Furnished_status     object
Lift                float64
Landmarks            object
type_of_building     object
desc                 object
Price_sqft          float64
dtype: object

In [10]:
missing_values = delhi.isnull().sum()
missing_values

price                  0
Address                0
area                   0
latitude               0
longitude              0
Bedrooms               0
Bathrooms              0
Balcony             2572
Status               574
neworold               0
parking             5126
Furnished_status    3614
Lift                6005
Landmarks           4979
type_of_building       0
desc                   0
Price_sqft             0
dtype: int64

In [12]:
delhi.shape

(7738, 17)

In [13]:
#We should remove the feature "Balcony" "Status" "parking" "Furnished_status" "Lift" "Landmarks"

# List of columns to drop
columns_to_drop = ["Balcony", "Status", "parking", "Furnished_status", "Lift", "Landmarks"]

delhi.drop(columns=columns_to_drop,inplace=True)

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

def simple_linear_regression(X, y):
    """
    Performs simple linear regression on the provided data and calculates the accuracy.

    Parameters:
    X (array-like): 1D array of predictor variable (independent variable).
    y (array-like): 1D array of response variable (dependent variable).

    Returns:
    model (LinearRegression): The fitted linear regression model.
    r_squared (float): The R-squared value indicating the goodness of fit.
    mse (float): The mean squared error of the model.
    """
    # Ensure X is a 2D array (needed for scikit-learn)
    X = np.array(X).reshape(-1, 1)
    y = np.array(y)

    # Create and fit the model
    model = LinearRegression()
    model.fit(X, y)

    # Make predictions
    y_pred = model.predict(X)

    # Calculate accuracy metrics
    r_squared = r2_score(y, y_pred)
    mse = mean_squared_error(y, y_pred)

    return model, r_squared, mse

In [6]:
X=delhi["area"]
y=delhi["price"]
model, r_squared, mse = simple_linear_regression(X, y)
print(f"R-squared: {r_squared}")
print(f"Mean Squared Error: {mse}")
print(f"Slope: {model.coef_[0]}")
print(f"Intercept: {model.intercept_}")

R-squared: 0.7209253011564674
Mean Squared Error: 14558724088167.113
Slope: 8530.770725604834
Intercept: -3703543.031886694

In [15]:
def multiple_linear_regression(X, y):
    """
    Performs multiple linear regression on the provided data and calculates the accuracy.

    Parameters:
    X (array-like): 2D array of predictor variables (independent variables).
    y (array-like): 1D array of response variable (dependent variable).

    Returns:
    model (LinearRegression): The fitted linear regression model.
    r_squared (float): The R-squared value indicating the goodness of fit.
    mse (float): The mean squared error of the model.
    """
    # Ensure X is a 2D array (needed for scikit-learn)
    X = np.array(X)
    y = np.array(y)

    # Create and fit the model
    model = LinearRegression()
    model.fit(X, y)

    # Make predictions
    y_pred = model.predict(X)

    # Calculate accuracy metrics
    r_squared = r2_score(y, y_pred)
    mse = mean_squared_error(y, y_pred)

    return model, r_squared, mse

In [16]:
X=delhi[["area","Bedrooms","Bathrooms","Price_sqft"]]
y=delhi["price"]
model, r_squared, mse = multiple_linear_regression(X, y)
print(f"R-squared: {r_squared}")
print(f"Mean Squared Error: {mse}")
print(f"Coefficients: {model.coef_}")
print(f"Intercept: {model.intercept_}")

R-squared: 0.9309865721159718
Mean Squared Error: 3600281426821.54
Coefficients: [   7692.27647303 -711721.82603283   -7129.64762064    1466.81719303]
Intercept: -8707903.29618344

In [17]:
from sklearn.preprocessing import PolynomialFeatures

def polynomial_regression(X, y, degree=2):
    """
    Perform polynomial regression on the provided data and calculate the accuracy.

    Parameters:
    X (array-like): 2D array of predictor variables (independent variables).
    y (array-like): 1D array of response variable (dependent variable).
    degree (int): The degree of the polynomial features.

    Returns:
    model (LinearRegression): The fitted polynomial regression model.
    r_squared (float): The R-squared value indicating the goodness of fit.
    mse (float): The mean squared error of the model.
    """
    # Transform features for polynomial regression
    poly = PolynomialFeatures(degree=degree, include_bias=False)
    X_poly = poly.fit_transform(X)

    # Create and fit the model
    model = LinearRegression()
    model.fit(X_poly, y)

    # Make predictions
    y_pred = model.predict(X_poly)

    # Calculate accuracy metrics
    r_squared = r2_score(y, y_pred)
    mse = mean_squared_error(y, y_pred)

    return model, r_squared, mse

In [18]:
X=delhi[["area","Bedrooms","Bathrooms","Price_sqft"]]
y=delhi["price"]

# Perform polynomial regression
model, r_squared, mse = polynomial_regression(X, y, degree=2)

# Output the results
print(f"R-squared: {r_squared}")
print(f"Mean Squared Error: {mse}")
print(f"Coefficients: {model.coef_}")
print(f"Intercept: {model.intercept_}")

R-squared: 1.0
Mean Squared Error: 1.0691524571265287e-16
Coefficients: [ 5.32532911e-12  5.14278509e-10  3.09791693e-10  9.04531610e-13
  4.71844785e-16 -3.30794935e-13 -1.25871237e-13  1.00000000e+00
  3.13852625e-11  2.35318626e-10 -4.31132994e-16  5.02655641e-12
 -2.69729443e-14 -2.22044605e-16]
Intercept: -6.51925802230835e-09